# See man 5 containers-storage.conf for more information
# The "container storage" table contains all of the server options.
[storage]
# Default Storage Driver
driver = "overlay"

[storage.options]
mount_program = "/usr/bin/fuse-overlayfs"